
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">\
    <link rel="stylesheet" href="/static/quiz.css">
    <title>Quiz</title>

    
</head>
<body>
    <h1>Quiz</h1>
    <form action="/submit_quiz" method="POST">
        {% for question in questions %}
        <div>
            <p>{{ question.question }}</p>
            {% for option in question.options %}
            <label>
                <input type="radio" name="{{ question.question }}" value="{{ option }}">
                {{ option }}
            </label><br>
            {% endfor %}
        </div>
        {% endfor %}
        <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>
